@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Barlow:ital,wght@0,100;0,300;0,800;0,900;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Barlow', sans-serif;
    user-select: none;
}

/* Navigation CSS Start*/

.nav {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;
    margin-bottom: 5vh;
    background-color: green;
    justify-content: space-between;
}

.title {
    font-size: 4vh;
    margin: 2vh 0 0 5vh ;
    /* top  right bottom left */
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2vh;
    color: white;
}

.options {
    display: flex;
    flex-direction: row;
    font-size: 2vh;
    margin: auto 15px auto 15px;
}

.options li {
    display: flex;
    margin: 0 15px;
    font-size: 2.5vh;
    color: white;
    cursor: pointer;
}


/* word counter in center */
.count-circle  {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0 0 0;
}

.score-points {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3vh;
    margin: 0 2vw 0 2vw;
    font-size: 4vh;
    width: 13vh;
    height: 13vh;
    border-radius: 7vh;
    border: 2px solid black;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

.add, .remove {
    background-color: Pink;
    width: 7vh;
    height: 4.5vh;
    margin-top: 2.5vh;
    border-radius: 2.5vh;
    border: black solid 0.3vh;
    cursor: pointer;
}

.add::before {
    content: "+";
    height: 4vh;
    width: 6.5vh;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-weight: bold;
    font-family: courier;
    color: rgb(255, 255, 255);
}

.remove::before {
    content: "-";
    height: 4vh;
    width: 6.5vh;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-weight: bold;
    font-family: courier;
    color: rgb(255, 255, 255);
}

/* word counter in center end*/

.underline {
    position: absolute;
    background-color: red;
    height: 0.5vh;
    top: 6.5vh;
    border-radius: 20px;
}

.bar {
    visibility: hidden;
}

.in-animate {
    animation: expand-left 0.7s;
}

.clickbox {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.closebox {
    animation: bg-fade-out 1s forwards;
}

/* Navigation CSS End */

.bg {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: blue;
    /* insert designed bg image here */
    z-index: -1;
}

.container {
    width: 80vh;
    height: 80vh;
    background-color: rgba(255, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: flex;
    justify-content: center;
    width: inherit;
}

.gridbox {
    display: flex;
    width: 12.8vh;
    height: 12.8vh;
    border: solid 0.4vh black;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0.25vh;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
    font-weight: 300;
    z-index: 1;
}

.C1, .C2, .C3, .C4, .R1, .R2, .R3, .R4, .D1, .D2 { 
    /* inner boxes */
    cursor: pointer;
}

.gridbox.outer {
    background-color: orange;
    opacity: 0;
}

.gridbox.outed {
    cursor: pointer;
}

.gridbox.animated.outer {
    animation: fade-out 2.5s forwards;
}

.gridbox.outed, .gridbox.animated {
    animation: fade-in 2s forwards;
}

.clicked {
    background-color: green;
}

/* gridbox and interactions end */

/* borderbox */
.borderbox {
    position: absolute;
    width: 55vh;
    height: 55vh;
    top: 10vh;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1vh solid black;
    border-radius: 25px;
}

.enlarge {
    animation: scale-out 2s forwards;
}

.shrink {
    animation: scale-in 2s forwards;
}
/* borderbox ends */

/* scoreboard */
.scoreboard, .start-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.score-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50vh;
    height: 70vh;
    background-color: rgb(233, 233, 233);
    border: solid 0.6vh black;
    border-radius: 2vh;
    margin: auto;
    margin-top: 20vh;
    font-size: 3vh;
}

.score-text {
    margin-top: 3vh;
}

.score-line {
    display: flex;
    height: 0.8vh;
    width: 60%;
    background-color: black;
    margin-top: 2vh;
    border-radius: 25px;
}

.leave {
    background-color: rgb(215, 255, 155);
    padding: 1vh;
    border-radius: 20px;
    border: 0.3vh solid black;
    cursor: pointer;
}

.score {
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.down-anim {
    animation: down-anim 2s forwards;
}

.fade-out {
    animation: fade-out 2s forwards;
}
/* scoreboard end */

/* start menu */
.start-container {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.start-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 80vh;
    height: 60vh;
    background-color: rgb(200, 200, 200);
    border: solid 0.6vh black;
    border-radius: 2vh;
    margin: auto;
    margin-top: 25vh;
    font-size: 3vh;
}

.start-text {
    font-size: 5vh;
    margin: 7vh auto 0 auto;
}

.start-text span {
    animation: color-move 15s infinite;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-radius: 20%;
    padding: 0.5vh;
    margin: 0.7vh;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12vh;
    cursor: pointer;
}

.choices>p{
    margin: 2vh;
    border: 2px black solid;
    border-radius: 10px;
    padding: 2vh;
    background-color: lightblue;
}

/* start menu end */

/* animations */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bg-fade-out {
    0% {
        background-color: rgba(0, 0, 0, 0.4);
    }

    100% {
        background-color: rgba(0, 0, 0, 0)
    }
}

@keyframes expand-left {
    0% {
        transform: scaleX(0)
    }

    100% {
        transform: scaleX(1)
    }
}

@keyframes expand-retract {
    0% {
        transform: scaleX(1)
    }

    100% {
        transform: scaleX(0)
    }
}

@keyframes scale-out {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.52)
    }
}

@keyframes scale-in {
    0% {
        transform: scale(1.52)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes down-anim {
    0% {
        opacity: 0.7;
        transform: translateY(2vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes color-move-1{
    0% {
        color: #fff;
    }

    20% {
        color: lightgoldenrodyellow;
    }

    40% {
        color: lightcoral;
    }

    60% {
        color: green;
    }

    80% {
        color: rgb(101, 4, 139);
    }

    100% {
        color: #fff;
    }
}

@keyframes color-move{
    0% {
        color: #fff;
    }

    15% {
        color: lightgoldenrodyellow;
    }

    30% {
        color: lightcoral;
    }

    45% {
        color: green;
    }

    50% {
        color: rgb(101, 4, 139);
    }

    65% {
        color: green;
    }

    80% {
        color: lightcoral;
    }

    95% {
        color: lightgoldenrodyellow;
    }

    100% {
        color: #fff;
    }
}